.projectsContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow-y: scroll;
   max-height: 70vh; // Adjust height to fit your design
   scroll-snap-type: y mandatory; // Ensures smooth scrolling
   
 }
 
 // Optional scrollbar styling for better appearance
 .projectsContainer::-webkit-scrollbar {
   width: 8px;
 }
 
 .projectsContainer::-webkit-scrollbar-thumb {
   background-color: #888;
   border-radius: 10px;
 }
 
 .projectsContainer::-webkit-scrollbar-thumb:hover {
   background-color: #555;
 }


@media (min-width: 768px) {

   .projectsContainer {
      flex-direction: row; // Change to horizontal layout
      overflow-x: scroll; // Enable horizontal scrolling
      overflow-y: hidden; // Disable vertical scrolling
      max-height: unset; // Remove the height restriction for horizontal layout
      scroll-snap-type: x mandatory; // Enable horizontal scroll snap
   }

}